<article class="max-w-5xl mx-auto px-3">
    <header class="mx-auto text-center content">
        <h1>{{ $title }}<br>{{ $date  | format('Y-m-d H:i:s')}}</h1>
        {{ $intro }}
    </header>
    <section class="mx-auto py-2 content">
        {{ main_content }}
            {{ if $type == "text" }}
                {{ $text }}
            {{ /if }}
        {{ /main_content }}
    </section>
    <nav class="w-full flex justify-between text-lg content">
        {{ collection:previous in="blog" as="posts" limit="1" sort="date:asc" }}
            {{ if no_results }}
                <span>nothing before</span>
            {{ /if }}
            {{ posts }}
                <a href="{{ url }}"><b>PREVIOUS:</b> {{ title }}</a>
            {{ /posts }}
        {{ /collection:previous }}
        {{ collection:next in="blog" as="posts" limit="1" sort="date:asc" }}
            {{ if no_results }}
                <span>nothing after</span>
            {{ /if }}
            {{ posts }}
                <a href="{{ url }}"><b>NEXT:</b> {{ title }}</a>
            {{ /posts }}
        {{ /collection:next }}
    </nav>
</article>
